include LICENSE
include README.rst
include VERSION
include requirements-dev.txt

recursive-include elasticgit/templates *

recursive-include docs *
prune docs/build

global-exclude __pycache__
global-exclude *.py[co]
